In [2]:
!pip install pymongo

Collecting pymongo
  Using cached pymongo-3.11.2-cp38-cp38-win_amd64.whl (383 kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.11.2

### STEP 1 : ESTABLISH A CONNECTION:

In [1]:
import pymongo

In [4]:
DEFAULT_CONNECTION_URL = "mongodb://localhost:27017/"
DB_NAME = "harshjainDB"

# Establish a connection with mongoDB
client = pymongo.MongoClient(DEFAULT_CONNECTION_URL)

# Create a DB
dataBase = client[DB_NAME]

---

### Paste the default URL in highlighted area of the Compass tool as shown below and click on connect
default URL for local system:- 
```
mongodb://localhost:27017/
```

> ![new connection](mongo_img/compass/c2.JPG)

after you press connect you'll see the following screen which contains already existing databases

> ![new connection](mongo_img/compass/c3.JPG)


**NOTE** you'll not see your database untill or unless you have created first document inside it. So at present we don't have any document in our DB its name is not visible here 

You can also create a database by clicking on CREATE DATABSE button. You'll see a below screen (But we'll see eveyrthing using python)

> ![new connection](mongo_img/compass/c4.JPG)

#### CHECK FOR EXISTING LISTS OF DB:

In [5]:
client.list_database_names()

['admin', 'config', 'local']

#### let's verify whether we have our database in the list or not 
#### we'll use the following function:-

In [6]:
def checkExistence_DB(DB_NAME, client):
    """It verifies the existence of DB"""
    DBlist = client.list_database_names()
    if DB_NAME in DBlist:
        print(f"DB: '{DB_NAME}' exists")
        return True
    print(f"DB: '{DB_NAME}' not yet present OR no collection is present in the DB")
    return False


_ = checkExistence_DB(DB_NAME=DB_NAME, client=client)

DB: 'harshjainDB' not yet present OR no collection is present in the DB

### STEP 2: Create a collection

In [7]:
COLLECTION_NAME = "HarshJain_Databases"
collection = dataBase[COLLECTION_NAME]

In [8]:
# let's verify whether we have our database in the list or not 
# we'll use the following function:-

def checkExistence_COL(COLLECTION_NAME, DB_NAME, db):
    """It verifies the existence of collection name in a database"""
    collection_list = db.list_collection_names()
    
    if COLLECTION_NAME in collection_list:
        print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' exists")
        return True
    
    print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' does not exists OR \n\
    no documents are present in the collection")
    return False


_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'HarshJain_Databases' in Database:'harshjainDB' does not exists OR
    no documents are present in the collection

### STEP 3: Insert a record in the collection

In [9]:
record = {'companyName': 'HJ',
         'product': 'DS EDU',
         'courseOffered': 'Data Science Masters'}

collection.insert_one(record)

In [10]:
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'HarshJain_Databases' in Database:'harshjainDB' exists

In [11]:
# Verify DATABASE
_ = checkExistence_DB(DB_NAME=DB_NAME, client=client)

DB: 'harshjainDB' exists

In [12]:
# Verify COLLECTION
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'HarshJain_Databases' in Database:'harshjainDB' exists

### STEP 4: Insert multiple records

In [13]:

list_of_records = [
    {'companyName': 'HJ',
     'product': 'DS EDU',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'HJ',
     'product': 'DS EDU',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'HJ',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

rec = collection.insert_many(list_of_records)

In [14]:
# lets print the unique ID of the record that we have inserted -
inserted_IDs = rec.inserted_ids

for idx, unique_ids in enumerate(inserted_IDs):
    print(f"{idx}. {unique_ids}")

0. 5ff97173a04f3054783db1f6
1. 5ff97173a04f3054783db1f7
2. 5ff97173a04f3054783db1f8

#### You can override the default unique Id by giving a user defined as shown below:

In [15]:
COLLECTION_NAME = "HJ_Faculties"
faculties = dataBase[COLLECTION_NAME]

list_of_records_user_defined_id = [
    {"_id": "1",
    "companyName": "HJ",
    "Faculty": "Sudhanshu Kumar"},
    {"_id": "2",
    "companyName": "HJ",
    "Faculty": "Virat Sagar"},
]

faculties_record = faculties.insert_many(list_of_records_user_defined_id)

### STEP 5: Find method in MongoDB

In [16]:
find_first_record = faculties.find_one()

print(f"The first record of collection: \n{COLLECTION_NAME} is=\
\n{find_first_record}")

The first record of collection:
HJ_Faculties is=
{'_id': '1', 'companyName': 'HJ', 'Faculty': 'Sudhanshu Kumar'}

In [17]:
# find all the record at once present in thr record with all the fields
all_record = faculties.find()

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': '1', 'companyName': 'HJ', 'Faculty': 'Sudhanshu Kumar'}
1: {'_id': '2', 'companyName': 'HJ', 'Faculty': 'Virat Sagar'}

In [18]:
# find all the record at once present in the record with SPECIFIC fields
all_record = faculties.find({}, {"Faculty"})

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': '1', 'Faculty': 'Sudhanshu Kumar'}
1: {'_id': '2', 'Faculty': 'Virat Sagar'}

### STEP 6: Query or filter out data in MongoDB

In [19]:
query1 = {"_id": '1'}

results = faculties.find(query1)
for data in results:
    print(data)

{'_id': '1', 'companyName': 'HJ', 'Faculty': 'Sudhanshu Kumar'}

In [20]:
query2 = {"_id": {"$gt": "1"}}

results = faculties.find(query2)
for data in results:
    print(data)

{'_id': '2', 'companyName': 'HJ', 'Faculty': 'Virat Sagar'}

### STEP 7: Delete one or many documents in MongoDB

In [21]:
# Lets add some random data in faculties
random_data = [
    {'_id': '3', 'companyName': 'HJ', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'HJ', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'HJ', 'Faculty': 'PQR'},
]

faculties.insert_many(random_data)

In [22]:
# Lets delete one document in faculties
query_to_delete = {"Faculty": "XYZ"}

faculties.delete_one(query_to_delete)

In [23]:
# lets delete multiple record
multi_query_to_delete = {"_id": {"$gte": "4"}}

faculties.delete_many(multi_query_to_delete)

> **NOTE**: In order to delete all the documents present in the collection you can just pass and empty dictionary as shown below: -
```python
faculties.delete_many({})
```

### STEP 8: Drop the entire collection

In [24]:
faculties.drop()

In [25]:
# Lets verify if the collection exists or not after dropping it
COLLECTION_NAME = "HJ_Faculties"
DB_NAME = "iNeuron"
_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'HJ_Faculties' in Database:'iNeuron' does not exists OR
    no documents are present in the collection

### STEP 9: Update

In [26]:
COLLECTION_NAME = "HarshJain_Databases"

products = dataBase[COLLECTION_NAME]

all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('5ff970f4a04f3054783db1f5'), 'companyName': 'HJ', 'product': 'DS EDU', 'courseOffered': 'Data Science Masters'}

{'_id': ObjectId('5ff97173a04f3054783db1f6'), 'companyName': 'HJ', 'product': 'DS EDU', 'courseOffered': 'Machine Learning with Deployment'}

{'_id': ObjectId('5ff97173a04f3054783db1f7'), 'companyName': 'HJ', 'product': 'DS EDU', 'courseOffered': 'Deep Learning for NLP and Computer vision'}

{'_id': ObjectId('5ff97173a04f3054783db1f8'), 'companyName': 'HJ', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [27]:
present_data = {'courseOffered': 'Machine Learning with Deployment'}
new_data = {"$set":{'courseOffered': 'ML and DL with Deployment'}}

In [28]:
products.update_one(present_data, new_data)

In [29]:
all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('5ff970f4a04f3054783db1f5'), 'companyName': 'HJ', 'product': 'DS EDU', 'courseOffered': 'Data Science Masters'}

{'_id': ObjectId('5ff97173a04f3054783db1f6'), 'companyName': 'HJ', 'product': 'DS EDU', 'courseOffered': 'ML and DL with Deployment'}

{'_id': ObjectId('5ff97173a04f3054783db1f7'), 'companyName': 'HJ', 'product': 'DS EDU', 'courseOffered': 'Deep Learning for NLP and Computer vision'}

{'_id': ObjectId('5ff97173a04f3054783db1f8'), 'companyName': 'HJ', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [32]:
present_data = {'companyName': 'HJ'}
new_data = {"$set": {'companyName': 'HJ.ai'}}

In [33]:
products.update_many(present_data, new_data)

all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('5ff970f4a04f3054783db1f5'), 'companyName': 'HJ.ai', 'product': 'DS EDU', 'courseOffered': 'Data Science Masters'}

{'_id': ObjectId('5ff97173a04f3054783db1f6'), 'companyName': 'HJ.ai', 'product': 'DS EDU', 'courseOffered': 'ML and DL with Deployment'}

{'_id': ObjectId('5ff97173a04f3054783db1f7'), 'companyName': 'HJ.ai', 'product': 'DS EDU', 'courseOffered': 'Deep Learning for NLP and Computer vision'}

{'_id': ObjectId('5ff97173a04f3054783db1f8'), 'companyName': 'HJ.ai', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

### STEP 9: Set limit to view N records

In [34]:
N_records = 3

N_record = products.find().limit(N_records)

for idx, record in enumerate(N_record):
    print(f"{record}\n")

{'_id': ObjectId('5ff970f4a04f3054783db1f5'), 'companyName': 'HJ.ai', 'product': 'DS EDU', 'courseOffered': 'Data Science Masters'}

{'_id': ObjectId('5ff97173a04f3054783db1f6'), 'companyName': 'HJ.ai', 'product': 'DS EDU', 'courseOffered': 'ML and DL with Deployment'}

{'_id': ObjectId('5ff97173a04f3054783db1f7'), 'companyName': 'HJ.ai', 'product': 'DS EDU', 'courseOffered': 'Deep Learning for NLP and Computer vision'}